.msp-card-container {
    background-color: var(--msp-bg-color-secondary);
    width: 1180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 75px 24px;
    color: var(--msp-font-color-primary);
}