header {
  position: fixed; /* Set the header to be fixed */
  top: 0; /* Position it at the top of the page */
  left: 0; /* Align it to the left edge */
  width: 100%; /* Make it span the full width */
  z-index: 9999;
}

.msp-header {
  background-color: var(--msp-bg-color-primary);
}
.msp-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  font-family: "Nunito";
  margin: 0 auto;
  max-width: 1180px;
}

.msp-logo-container {
  color: var(--msp-logo-color-primary);
  display: flex;
  font-size: 35px;
  font-weight: 700;
}

.dot {
  color: var(--msp-logo-color-secondary);
}

.msp-header-menu-container {
  color: var(--msp-font-color-primary);
  display: flex;
  font-size: 20px;
  font-weight: 700;
}

.msp-header-menu-container li {
  margin-right: 20px;
  list-style-type: none;
}

.msp-header-menu-container li:nth-last-child(1) {
  margin-right: 0px;
}

.msp-social-media-container {
  display: flex;
  align-items: center;
}

.msp-social-media-container a img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.msp-social-media-container a:nth-child(2) img{
  width: 25px;
  height: 25px;
}
